<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        <title>{% block title %}Shirts For Photographers{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap-lux.min.css') }}">
            <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"-->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('rrssb/css/rrssb.css') }}">
        {% endblock %}

        {% block opengraph %}
            <meta property="og:title" content="Shirts For Photographers" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://shirtsforphotographers.com" />
            <meta property="og:image" content="http://shirtsforphotographers.com/u/14-24-long-black.jpg" />
            <meta property="og:description" content="Simple, High Quality T-Shirts for Photographers"/>

            <meta name="twitter:card" content="summary_large_image">
            <!--meta name="twitter:site" content="@therealkni">
            <meta name="twitter:creator" content="@dbox" -->
            <meta name="twitter:title" content="Shirts For Photographers">
            <meta name="twitter:description" content="Simple, High Quality T-Shirts for Photographers">
            <meta name="twitter:image" content="http://shirtsforphotographers.com/u/14-24-long-black.jpg">
        {% endblock %}

    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Shirts For Photographers</a>
        </nav>

        {% block body %}{% endblock %}

        <div class="container-fluid">
            <div class="row footer">
                <div class="col-md-12">
                    <p>Shirts For Photographers &copy; {{ "now"|date("Y") }}</p>
                    <p class="founded">Founded by <a href="http://andrewmacrobert.com" target="_blank">Andrew MacRobert</a></p>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

            <script src="{{ asset('js/main.js') }}"></script>

            <script src="{{ asset('rrssb/js/rrssb.min.js') }}"></script>

            <!-- Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80617528-2"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-80617528-2');
            </script>

        {% endblock %}
    </body>
</html>
